@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  /* ライトモードのグラデーション */
  --background: linear-gradient(to bottom right, #f5f3ff, #ffe4e6, #e0f2fe);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    /* ダークモード用のグラデーション（必要に応じて色を調整） */
    --background: linear-gradient(to bottom right, #1f2937, #374151, #4b5563);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
